.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toDoItem {
  border: 1px solid black;
  width: 250px;
  text-align: left;
  padding: 15px;
  word-wrap: break-word;
}

.addButton {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 30px;
}

.deleteButton {
  padding: 0px;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #282c34;
  color: aliceblue;
}

.toDoList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  align-content: center;
}
